
<table style="width: 100px">
  <% @user.questions.each do |q| %>
  <tr>
    <th>Question</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="/question/<%=q.id%>"><%= q.title %></a></td>
    <td><%= q.description %></td> 
  </tr>
  <% end %>
</table>






