<h2>Ask your questions here</h2>
<form method="post" action="/questions">
    <input type=title placeholder="Title" name="question[title]"></br>
    <input type=description placeholder="Description" name="question[description]"></br>
    <input type=submit value="ASK">
</form>
