<h1> Particluar Question </h1>


<p>TITLE: <%= @question.title %></a></p>
<p>DESCRIPTION : <%= @question.description %></p>
<p>QUESTION ID : <%= @question.id %></p>
<p>QUESTION ASKED AT : <%= @question.created_at %></p><br>
