<head>
  <link rel="stylesheet" href="/css/dashboard/index.css">
</head>

<div class="main-content">
  <h2> Quora 0.2 Dashboard </h2>
  <p> Welcome back! </p>
</div>

<div class="links">
  <a href="/logout">Logout</a>
</div>
