<% answer = Answer.find(@answerId)
p '', '', 'yo', answer %>
<div><%= answer.user.full_name %></div>
<div><%= answer.content %></div>
<% if session[:user_id] == answer.user.id %>
  <div>
    <input type="hidden" value="<%= "#{answer.id},answer" %>">
    <input class="deletebutton" type="submit" value="Delete">
  </div>
<% end %>