
<header>
	<div class="navigation">
		<div class="center">
			<nav>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="#">answer</a></li>
					<li><a href="#">notification</a></li>
					<li><a href="/profile">profile</a></li>
					<li><button id="askquestion">Ask Question</button></a></li>
					<li><form action="/logout" method="post">
						<input class="submit_button" type="submit" value="logout">
					</form></li>
				</ul>
			</nav>
		</div>
	</div>
</header>