<div class="entry answer">
  <div><textarea></textarea></div>
  <div class="asdf">
    <input type="hidden" value="<%= questionId %>">
    <input class="answerbutton" type="submit" value="Answer">
  </div>  
</div>