
 	<form action="upvote_question" method="post" onsubmit="return false;">
			<input class="upvote_button" type="submit" value="upvote">
	</form>	
 


 	<form action="downvote_question" method="post" onsubmit="return false;">
			<input class="downvote_button" type="submit" value="upvote">
	</form>	
