
 	<form action="upvote_question" method="post" onsubmit="">
			<input class="upvote_button" type="submit" value="submit">
	</form>	
 <p>hello</p>
 <p><%= @apple%></p>
 <p><%= @votes%></p>


 	<form action="downvote_question" method="post" onsubmit="">
			<input class="downvote_button" type="submit" value="submit">
	</form>	
