<head>
  <link rel="stylesheet" href="/css/users/login.css">
</head>

<div class="login-form">
  <h2>Login to Quora 0.2</h2>
  <form class="" action="/login" method="post">
    <p>Email</p>
    <input type="email" name="user[email]" value=""><br>
    <p>Password</p>
    <input type="password" name="user[password]" value=""><br>
    <br>
    <input type="submit" value="Login">
  </form>
</div>
