<% questions = Question.order(created_at: :desc).limit(10) %>
<% questions.each do |row| %>
  <div class="entry">
    <div>Username: <%= row.user_id.nil? ? '&lt;nil&gt;' : User.find(row.user_id).full_name %></div>
    <div><%= row.content %></div>
  </div>
<% end %>