<head>
  <link rel="stylesheet" href="/css/users/new.css">
</head>

<div class="signup-form">
  <h1>Quora 0.2</h1>
  <h2>Sign up for an account today!</h2>

  <form class="" action="/signup" method="post">
    <p>Email</p>
    <input type="email" name="user[email]" value=""><br>
    <p>Password</p>
    <input type="password" name="user[password]" value=""><br>
    <p>Username</p>
    <input type="text" name="user[username]" value=""><br>
    <br>
    <input type="submit" value="Sign up">
  </form>
</div>
