<h1> <%= @user.first_name %> <%= @user.last_name %> <h1>
</br>

<form action="/user/<%=@user.id%>/questions" method="get">
<input type="submit" value="My questions">
</form>

<form action="/sessions/:id" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>

<form action="/" method="get">
<input type="submit" value="Homepage">
</form>
