<% if logged_in? %>
	<p>Welcome <%= current_user.full_name %> </p>
	<p>Email: <%= current_user.email %> </p>
	<button><a href='/user/signout'>Sign Out</a></button>
<% else %>
	<p>You are not logged in</p>
	<button><a href='/'>Home</a></button>
	<button><a href='/user/signin'>Sign In</a></button>
	<button><a href='/user/new'>Sign Up</a></button>
<% end %>