<style>
  body {
    color: black;
  }
</style>
<div class="entry">
  <div><%= @question.user_id.nil? ? '&lt;nil&gt;' : @question.user.full_name %></div>
  <div><%= @question.content %></div>
</div>
<%= displayReply(@question.id) %>

<% @question.answers.each do |answer| %>
  <div class="entry">
    <%= displayAnswer(answer.id) %>
  </div>
<% end %>