<style>
  body {
    color: black;
  }
</style>

<div class="entry">
  <div><%= @question.user.full_name %></div>
  <div><%= @question.content %></div>
</div>



<!-- Reply box -->
<%= displayReply(@question.id) %>



<!-- Answers -->
<div id="refresh">
  <%= displayAllAnswers(@question) %>
</div>
