
<h1>Welcome to Quora, <%= (@user[:first_name]).capitalize %></h1>

<div class="question-box">
	<div class="padding-question-box">
		<form>
			
			<h2>Have a burning question? Post it!</h2>
			<input class="textbox" type="text" name="questions">

		</form>
	</div>
</div>

<a href="/logout">Logout</a>