

	<div class="sub-container">
		<h4>login</h4>
		<form action="new" method="post">
			<input class="textbox" type="text" name="user[email]" placeholder="email address" style="font-size: 20px">
			<input class="textbox" type="password" name="user[password]" placeholder="password" style="font-size: 20px">
			<input class="textbox" type="text" name="user[full_name]" placeholder="full name" style="font-size: 20px">
			<input class="submit_button" type="submit" value="submit">
		</form>	
		<p><%= @error %></p>
	</div>

