<h2>Edit your question</h2>
<form action="/question/<%= @question.id %>/edit" method="post">
	<input type="hidden" name="_method" value="patch"><br>

	<label>Question</label><br>
	<input type="Edit your question here" value="<%= @question.question_description %>" name="question[question_description]"><br>
	<br>
	<input type="submit" value="Update"><br>
</form>

