<!-- THIS IS NOT BEING USEDDDDD!!!! -->

<h2>CHECK OUT THE QUESTIONS!</h2>

<table>
	<tbody>
		<% Question.last(10).order('created_at DESC').each do |q| %>
			<tr>
				<td><%= q.user_id %></td>
				<td><%= q.text %></td>
			</tr>
		<% end %>
	</tbody>
</table>

