<div>
	<img src="/img/default_user.png">
	<h2>Your Questions</h2>
	<% if @questions != nil %>
	  <table border="1">
		<% @questions.each {|question| %>
	 		<tr>
	 			<td><a href="/questions/<%= question.id %>"><%= question.title %></a></td>
	 		</tr>
		<% } %>
		</table>
	<% end %>
	<br>
	<a href="/users/<%= current_user.id %>/answers">your answers</a>
</div>