<h1>What's your problem young padawan?</h1>

<form method=post action=/question/new>
    <input type=text placeholder="Title" name="question[title]"><br>
    <input type=text placeholder="Description" name="question[description]"><br>
    <input type=submit value="Create">
</form>