<head>
  <link rel="stylesheet" href="/css/static/failure.css">
</head>
<div class="error">
  <h1>Oops, something went wrong!</h1>
  <br>
  <h3>Go back to home:</h3>
  <a href="/">Return home</a>
</div>
