<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Ask Container -->
        <div class="ask-container my-5">
          <h2 class='text-center'>Hi <span class='highlight'><%= current_user.first_name %>!</span> Have a question?</h2>
          <form class="ask-form" action="/questions" method="post">
            <label class="sr-only" for="inlineFormInputName2">Question</label>
            <input type="text" name="question" placeholder="Ask away matey">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <div class='text-center'><button type="submit" class="btn btn-ask">Ask!</button></div>
          </form>
        </div>
      </div>
    </div>
    <!-- List of questions and answers -->
    <div class="row">
      <div class="col-12">

        <% if @questions.length != nil %>
          <% @questions.each do |question|  %>
          <div class="question-container">
            <% user_id = question.user_id %>
            <% user = User.find(user_id) %>
            <small><span class='highlight'><%= user.first_name + " " + user.last_name %></span> asks</small>
            <h2><%= question.question %></h2>

            

          </div>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
</main>
