<h1> Kwora </h1>
<button id="registerButton" class="register-button" >Register</button>

<script type="text/javascript">
    document.getElementById("registerButton").onclick = function () {
        location.href = "/register";
    };
</script>

<button id="loginButton" class="login-button" >Log In</button>

<script type="text/javascript">
    document.getElementById("loginButton").onclick = function () {
        location.href = "/login";
    };
</script>