<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
<form action="/signup_page"> -->
    <input type="submit" value="Sign Up!" />
</form>

<form action="/login_page"> -->
    <input type="submit" value="Login!" />
</form>