<p id="welcome-msg">
	Welcome, 
	<% if logged_in? %> <%= current_user.first_name %>
	<% end %>
</p> 
<img  id="setting-button" src="/img/setting.png">

<div id="sidebar">
  <form action='/logout' method='post'> <input id="logout-button" type="submit" value="LogOut">
			</form>
  <a id="myprofile-icon" href="/users/<%= current_user.id %>">My Profile</a>
</div>