<head>
  <link rel="stylesheet" href="/css/static/index.css">
</head>

<div class="header">
  <h2>Quora 0.2</h2>
</div>

<div class="introduction">
  <p>Ask away and ye shall find out!</p>
  <!-- <button type="button" name="button">Ask A Question</button> -->
</div>

<div class="signup">
  <h4>
    <a href="/signup">Signup for an account today</a>
  </h4>
</div>

<div class="login">
  <h4>
    <a href="/login">Login</a>
  </h4>
</div>
