<h2>Homepage - show feed and stuff</h2>

<% if logged_in? %>
	<form action="/logout" method="post">
	<input type="submit" value="Logout">
	</form>
<% else %>
	<form action="/sign_in_page" method="post">
	<input type="submit" value="Login/Sign up">
	</form>
<% end %>