<div id="login_backgroung">
  <div id="login_and_sign_up">
    <h1>Quora</h1>
    <h4>A place to share knowledge and better understand the world</h4>
    <div class="row">
      <div class="col-md-6" id="left">
          <h2>Sign Up</h2>
          <form action="/user" method="post">
            FIRST NAME<br>
            <input type="text" name="user[first_name]">
            <br>
            <br>
            LAST NAME<br>
            <input type="text" name="user[last_name]">
            <br>
            <br>
            EMAIL<br>
            <input type="text" name="user[email]">
            <br>
            <br>
            PASSWORD<br>
            <input type="password" name="user[password]" placeholder="minimum 5 character">
            <br>
            <br>
            <input type="submit" value="Sign Up">
          </form>
      </div>
      <div class="col-md-6" id="right">
          <h2>Login</h2>
          <form action="/login" method="post">
            <input type="text" name="email" placeholder="Email">
            <br>
            <br>
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit" value="Login">
          </form>
      </div>
    </div>
  </div>
</div>
