<h2>Sign up for an account!</h2>
<form action="/signup" method="POST" id="signup-form">
  <input type="text" placeholder="Email" name="email"><br>
  <input type="password" placeholder="Password" name="password"><br>
  <input type="submit" value="Sign up" id="signup-btn">
  <input type="submit" value="Login" id="login-btn">
</form>

<% if !@messages.nil? %>
  <div id="error-message">
    <% @messages.each do |key, val| %>
      <p>
        <%= "#{key}: #{val[0]}" %>
      </p>
    <% end %>
  </div>
<% end %>
