<div class = "navbar">
   <h1 class = "logo">Quora</h1> <a class = "signup" href="/sign_up"><p>Sign up an account here</p></a>
   <!-- <a class = "signup" href="/sign_up"><p>Sign up an account here</p></a> -->
</div>