<h1>Quora</h1>


<% if logged_in? %> 
 <!-- true if current user exist, false otherwise -->
 <a href="/users/<%= current_user.id %>"><p>Profile</p></a>
  <form method= "post" action= "/logout">
     <input type= submit value= "Log out">
  </form>

 <!-- #if asked question then display existing post -->
  

<!-- #else just display create new post -->
   <form method="post" action="/question">
       <input type="text" placeholder="title" name="question[title]"><br>
       <input type="text" placeholder="description" name="question[description]"></br>
       <input type=submit value="ASK">
   </form>


<% else %>
   <a id= "login" href= '/login'>Log in</a> 
   <a id= "signup" href='/signup'>Sign up</a> 
<% end %>

