<h1>Login Here</h1>
<form method="post" action="/login">
    <input type=text placeholder="Email" name="email"></br>
    <input type=password placeholder="Password" name="password"></br>
    <input type=submit value="LOGIN">
</form>


<p> Click link below to signup if you have not registered </p>

<a href="/signup">SIGNUP</a>
