<ul>
	<li>Want to know how to get out of the shithole you find yourself in?</li>
	<li>Want to divorce your spouse but not have her take away half of your hard-earned monay?</li>
	<li>Have you ever thought of developing your 1-in-6 abs into actual 6 packs?</li>
</ul>
<p>Then this is the right place for you!</p> 
<p>Tanya Lah is a community-driven question-and-answer site organized by our community of users. This is a place where ask and you shall be answered.</p>
<% if !logged_in? %>
<p>Login <a href='/login'>here</a>.</p>
<p>Sign up <a href="/signup">here</a> today!</p>
<% end %>