<head>
  <link rel="stylesheet" type"text/css" href="/css/index.css">
</head>

<div id="login_holder">
  <a href='/'><img src="/img/quora_logo.png" class="logo" /></a>
  <p><font size="5"><center>A place to share knowledge and better understand the world</center></font></p>
  <div id="form">
    <div class="signup"> <%= erb :"static/signup_form" %> </div>


    <div class="login"> <%= erb :"static/login_form" %></div>


  </div>

</div>
