<h2>Quora 0.2</h2>
<p>Ask away and ye shall find out!</p>
<button type="button" name="button">Ask A Question</button>

<h3>Signup for an account today!</h3>
<a href="/signup">Sign up today!</a>

<h4>Login</h4>
<a href="/login">Login here</a>
