<!-- <div class= "background"> -->
	<div class= "signupbox">
		<img id= "icon" src="/img/quora-small-icon.png" width="50" height="50">
		<h2 id= "tagline">A place to share knowledge and better understand the world</h2>
		<form method="post" action="/signup">
				<input type=text placeholder="First Name" name="user[first_name]" required ><br>
				<input type=text placeholder="Last Name" name="user[last_name]" required ><br>
			  <input type=text placeholder="Email" name="user[email]" required ><br>
		    <input type=password placeholder="Password" name="user[password]" required ><br>
		    <input type=submit value= "Sign up">
		    <p>Already a member? <a href="/login">Log In</a></p>
		    <p>By signing up you agree to our Terms& Conditions</p>
		</form>
	</div>
<!-- </div> -->

