<!DOCTYPE html>
<html>
<body>

<form action="/login">
  Log In Name:<br>
  <input type="text" name="name1" value="">
  <br>
  Password:<br>
  <input type="text" name="password" value="">
  <br>
  <input type="submit" value="LogIn">
</form> 

<form action="/signup">
<input type="submit" value="SignUp">
</form>


<p></p>

</body>
</html>
