<h2>Log in</h2>
<form method="post" action="/login">
    <input type="text" placeholder="Email" name="user[email]"><br>
    <input type="password" placeholder="Password" name="user[password]"></br>
    <input type=submit value="Sign in">
</form>