<h1>Kwora</h1>
<h2>Log In</h2>
<form method="POST" action="/login">
<input type=text placeholder="Username" name="user[username]"><br>
<input type=password placeholder="Password" name="user[password]"><br>
<input type=submit value="Log In"> </form>
