<div class= "loginbox">
	<img id= "icon" src="/img/quora-small-icon.png" width="50" height="50">
	<h2 id= "tagline">Log In</h2>
	<form method="post" action="/login">
		  <input class= "loginboxbutton" type=text placeholder="Email" name="user[email]" required ><br>
	    <input class= "loginboxbutton" type=password placeholder="Password" name="user[password]" required ><br>
	    <input type=submit value= "Log In">
	</form>
</div>