<h2> Already registered? Login here </h2>
<form action="login" method="post">
	<input type="text" name="user[email]" placeholder="	Email"> </br>
	<input type="password" name="user[password]" placeholder="Password"> </br>
	<input type="submit" value="Log in">
</form>


<h2> Don't have an account yet? Sign up and have unlock a world of knowledge </h2>
<form action="/signup" method="post">
	<input type="text" name="user[first_name]" placeholder="First name"> </br>
	<input type="text" name="user[last_name]" placeholder="Last name"> </br>
	<input type="date" name="user[dob]" placeholder="Date of Birth"> </br>
	<input type="text" name="user[email]" placeholder="Email"> </br>
	<input type="password" name="user[password]" placeholder="Password"> </br>
	<input type="password" name="user[password_confirmation]" placeholder="Confirm Password"> </br>
	<input type="submit" value="Sign up!">
</form>

