<h1>WELCOME TO YOUR PROFILE <%= @user.first_name.upcase %></h1>

<form action="/session/:id" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Log Out">
</form>