<div class="question-body">
	<div class="question-title">
		<h1><%= @question.title%></h1>
	</div>
	<div class="answer-count"><%= @answers.count %> Answer<%= 's' if @answers.count > 1 %></div>
	<div class="answer-list">
		<% @answers.each do |answer| %>
			<div class="answer-item">
				<%= answer.content %>
			</div>
		<%  end %>
	</div>
</div>