<html>

	<head>	
		
	</head>

		<body>

		
			<h2>Ask a question:</h2>
		
			<form name="ask_question" method ="post" action="/questions/submit_question">
				
				<input type="text" placeholder="Title" name="question[title]"><br>
				<input type="text" placeholder="Your question here..." name="question[question_description]"></br>
				<input type="submit" name="submit_question" value="Ask!"></br>

			</form>

		</body>

</html>