<h1>Kwora</h1>
<h2>Signup</h2>
<form method="POST" action="/register">
<input type=text placeholder="Username" name="user[username]"><br>
<input type=text placeholder="Email" name="user[email]"><br>
<input type=password placeholder="Password" name="user[password]"><br>
<input type=password placeholder="Confirm Password" name="user[password_confirmation]"><br>
<input type=submit value="Register"> </form>

