<div class="background-img">
	<img src="/img/wave.jpg">
</div>

<div class="container">
	<div class="row justify-content-center">
		<div id="login-header">
		Quora
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="login-form-box col-4">
			<h5 align="center">Hooray! You're now a member</h5>
		</div>
	</div>
</div>