<h2>Sign up for an account!</h2>
<form method="post" action="/signup">
    <input type=text placeholder="Fullname" name="user[fullname]"><br>
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"><br>
    <input type=password placeholder="Confirm Password" name="user[password_confirmation]"></br>
    <input type=submit value="Sign up">
</form>

<!--<h3><%= flash[:img]@err_email %></h3>
<h3><%= flash[:img]@err_pass %></h3>-->