<h2> Sign up for an account!</h2>
<form action="/signup" method="post">
	<input type=text placeholder="Email" name="user[email]"><br>
	<input type=password placeholder="Password" name="user[password]"></br>
	<input type=submit value="Sign up">
</form>