<h1><a href='/'>Tanya Lah</a></h1>
<h2>Sign up for an account!</h2>
<form action="/signup" method='post'>
	<input type=text placeholder="Your Full Name" name="user[full_name]"><br>
	<input type=text placeholder="Email" name="user[email]"><br>
  <input type=password placeholder="Password" name="user[password]"><br>
  <input type=password placeholder="Confirm your password" name="user[password_confirmation]"><br>
  <input type=submit value="Sign up">
</form>
<br>
<%if @error_messages%>
	<ul>
		<%@error_messages.each do |e|%>
			<li><%=e%></li>
		<%end%>
	</ul>
<%end%>