<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/user.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/user.js"></script>
</head>

<body>
	<div cladd='container'>
			<header>
				<div class ="logo">
				<a href="/"><img src="/css/bitly_logo.jpg" alt="bitly logo" width="100"></a>
			</div>
			<nav>
				<ul>
					<li><a href="/tour">Tour</a></li>
					<li><a href="#">Enterprise</a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><button type="button" href="#">login</button></li>
					<li><button type="button" href="#">signup</button></li>
				</ul>	
			</nav>
	</div>

</body>
</html>