<form method="post" action="/logout">
<input type="submit" value="logout">
</form>

<h1><%= @x.name %></h1>

<form method="post" action="/createquestion">
Question:<br>
<input type="text" name="question[text]" value=""><br>

<input type="submit" value="submit">
</form>


<% @quest.each do |v| %>

	<h1><a href= "/questions/<%= v.id %>">  <%= v.question %></a></h1>
	<% end %>