<div id='user-dashboard-header'>
  <div class="form-group">
    <a href="#"><img src="/img/quora-logo.png" id='user-dashboard-logo'></a>
    <p id='user-welcome'> HI <%= User.find(session[:user_id]).last_name.capitalize %>, Welcome to Quora </p>
      <a class='header-btns' id='home-btn' href="/">HOME</a>
      <a class='header-btns' href='#'> MY POSTS </a>
      <a class='header-btns' href='#'> MY PROFILE </a>
      <a class='header-btns' href='/sign_out'> LOG OUT </a>
    </div>
  </div>
</div>
<div id="main-dashboard" class="col-md-offset-1 col-md-10  col-xs-offset-1 col-xs-9">
  <div class="col-md-2 col-xs-2">
    <div class='head-line-dashboard'>
      <h4>Popular Stories</h3>
    </div>
    <div id='popular-stories-container'>
      <!-- EACH DO AN ARRAY OF POPULAR STORIES TO BUILD DIV CONTAINER WHICH CONSIST OF STORIES -->
      <!-- <div>
        <p> STORIES </p>
      </div> -->
    </div>
  </div>
  <div class="col-md-10 col-xs-10">
    <h4 class='head-line-dashboard'> Top Stories For You </h4>
    <div id='dashboard-main-stories-container'>
      <!-- EACH DO AN ARRAY OF STORIES TO BUILD DIV CONTAINER WHICH CONSIST OF STORIES -->
      <!-- <div>
        <p class='dashboard-main-stories'> STORIES </p>
      </div> -->
    </div>
  </div>
</div>
