<html>

	<head>	
	</head>

		<body>
			
			<div id='container_profile'>

				<h2>Here's your profile, <%=current_user.first_name=%>.</h2>
				<p>Name: <%=current_user.first_name + " " + current_user.last_name=%></p>
				<p>Email Address: <%=current_user.email_address=%></p>

			</div>


		</body>

</html>