<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />

<ul>
<li> <a id= "title"> Kwora </a> </li>
<li><a href="#"> My Questions </a></li>
<li><a href="#"> My Answers </a></li>
<li><a href="/logout"> Logout </a></li>
<li><a href="profile"> Profile </a></li>
</ul>

<div id = "timeline">
<h1> Timeline </h1>
</div>

