<div class="profile-header">
  <h1 id="welcome-message">
    <%= "Welcome #{@user[:email]}" %>
  </h1>
</div>

<p>
  <%= "You have asked # of question(s)" %>
</p>



<p>
  <%= "You have contributed # of answer(s)" %>
</p>


