<body>
  <br><br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 r-form-1-box wow fadeInUp">
      <div class="r-form-1-top">
        <h3>Edit Your Answer</h3>
        <br>
      <form role="form" action="/answer/<%= @answer.id%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <div class="form-group">
          <label class="sr-only" for="r-form-1-first-name">Answer</label>
          <input type="text" name="answer" placeholder="Answer..." class="r-form-1-answer form-control" id="r-form-1-answer" value="<%= @answer.answer %>">
        <button type="submit" class="btn">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br>
</body>
