<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Sinatra Framework</title>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="css/login.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
	</head>
	
	<body>
		<div class= "background">
			<div class= "container">
				<div class="logo">
					<a href="/">Quora</a>
				</div>
				<p class="slogan">A place to share knowledge and understand the world</p>
				<%= yield %>
			</div>
		</div>	
	</body>
</html>
</html>