<html>
	<head>
		<title>Sinatra Framework</title>
		<script type="text/javascript" src="/js/application.js"></script>
		<link rel="stylesheet" type="text/css"  href="/css/application.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>