<html>
	<head>
		<title>Gofur Quora Clone</title>

		<!-- ################### -->

		<link rel="stylesheet" href="css/application.css/?v=2.2">

		<!-- ################### -->

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<!-- ################### -->

	</head>
	<body>
	<div class="box">
		<%= yield %>
	</div>
	</body>
</html>