<html>
	<head>
		<!--define library source-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" href="css/application.css">
		<script type="text/javascript" charset="utf-8" src="./js/application.js">

		</script>
		<title>Quora</title>
	</head>
	<body>

		<header id="header">

			<div class="header-container">

				<h1 id="logo">
					<a href="#" id="logo-url">QUORA</a>
				</h1>

				<nav class="navigation">
					<ul>
						<li><a href="#">Home</a></li>
					</ul>
				</nav>

			</div>

		</header>

		<%= yield %>
	</body>
</html>