<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Sinatra Framework</title>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="css/login.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
	</head>
	
	<body>
		<div class= "background">
			<div class= "container">
				<div class="logo">
					<a href="/">Quora</a>
				</div>
				<p class="slogan">A place to share knowledge and understand the world</p>
				<%= yield %>
				<div class="bottom-link">
					<nav>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Español</a></li>
							<li><a href="#">Français</a></li>
							<li><a href="#">Deutsch</a></li>
							<li><a href="#">Italiano</a></li>
							<li><a href="#">日本語</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>	
	</body>
</html>
</html>