<html>
	<head>
		<title>Sinatra Framework</title>
		<script src="https://use.fontawesome.com/cbd5fe6f11.js"></script>
		<link rel="stylesheet" href="/css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/application.js" charset="utf-8"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400|Roboto:400,700" rel="stylesheet">
	</head>
	<body>
		<% if logged_in? %>
	    <%= erb :"layouts/header", layout: false %>
	  <% end %>

		<%= yield %>
	</body>
</html>
