<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" 
					href="/css/application.css">
		<script src="/js/application.js"></script>
	</head>
	<body>
		<!-- Display header -->
		<% if logged_in? %>
			<%= erb :"layouts/header", layout: false %>
		<% end %>
		<%= yield %>
	</body>
</html>