<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/application.js"></script>
		<title>Sinatra Framework</title>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
