<html>
	<head>
		<title>Quora 0.2</title>
		<link rel="stylesheet" href="/css/application.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	</head>
	<body>
		<%= yield %>
	</body>
</html>
