<html>
	<head>
		<title>qqqquora</title>
		<meta charset="UTF-8">
	 	<link rel="stylesheet" type="text/css" href="css/application.css">
	 	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	 	<script src="https://code.jquery.com/jquery-3.2.1.js"　integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="　crossorigin="anonymous"></script>
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 	<script src="js/application.js?v=2.2"></script>
	</head>
	<body>

	<div id="header-fixed">
	<dev id="header-bk">
	<div id="header">
	</div>
	</div>
	</div>

    <%= yield %>
    <div id="footer-fixed">
    <div id="footer-bk">
	<div id="footer">
	</div>
    </div>
    </div>



	</body>
</html>