<html>
	<head>
		<meta charset="UTF-8">
		<title>Quora</title>	
		
		<link rel="stylesheet" href="/css/application.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	   <script  src="/js/login.js"></script>

	</head>
	<body>
		<%= yield %>
	</body>
</html>



  

