<html>
<head>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/application.css">
    <script type="text/javascript" charset="utf-8" src="/js/application.js"></script>


    <title>Quora</title>
</head>
    <body>

        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Quora</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <% if logged_in? %>
                    <form action="/users/<%= session[:user_id] %>" class="form-inline my-2 my-lg-0" method='post'>
                        <button action="/users/<%= session[:user_id] %>" id="profile-btn"
                                class="btn btn-outline-success my-2 my-sm-0" type="submit">
                            <%= User.find_by(id: session[:user_id])[:user_id] %>
                        </button>
                    </form>

                    <form action="/users/logout" class="form-inline my-2 my-lg-0">
                        <button id="logout-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                <% else %>

                <% end %>


            </div>
        </nav>



        <%= yield %>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>