<html>
	<head>
		<title>CURSE</title>
		<script
	  src="https://code.jquery.com/jquery-3.2.1.js"
	  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  crossorigin="anonymous"></script>
	  
	  <link rel="script" type="text/javascript" href="/public/js/application.js">
	</head>
	<body>
		<%= yield %>
	</body>
</html>