<html>
	<head>
		<title>Sinatra Framework</title>
		<link rel="stylesheet" href="/css/application.css">
		<script src="/js/application.js" charset="utf-8"></script>
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
