<html>
	<head>
		<title>Quora</title>
		<link rel="stylesheet" href="css/application.css/?v=2.2">
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/application.js/?v=2.2"></script>
		
		
	</head>
	<body>
		<div class="first">
		<h1><a id="Q" href="/main">Quora</a></h1>
	      <p>Ask. Answer. Discover. Repeat.</p>
	  </div>
		<%= yield %>
	</body>
</html>
<style>
	body { 
	  background: url("/img/x.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>