<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" 
					href="/css/application.css">
		<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous"></script>
		<script src="/js/application.js"></script>
	</head>
	<body>
		<div id="main-wrapper">
			<!-- Display header -->
			<% if logged_in? %>
				<%= erb :"layouts/header", layout: false %>
			<% end %>
			<%= yield %>
		</div>
		<footer>&copy; 2017 Coded by <a href="https://www.linkedin.com/in/siew-ching-lee-81683156/" target="_blank">SC Lee</a></footer>
	</body>
</html>