<html>
	<head>
		<title>QueAndAns</title>
		<p id="home_button"><a href="/">Homepage</a></p>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="/js/application.js"></script>
	</head>
	<body>
	<div id="error">
		<%= flash[:msg] %>
	</div>
		<%= yield %>
		
	</body>
</html


			