<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Sinatra Framework</title>
		<meta charset="UTF-8">
		<title>UserInterface</title>
		<link rel="stylesheet" href="/css/user.css">
		<link rel="stylesheet" href="/css/navigation.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
	</head>
	<body>
		<header>
			<div class="navigation">
				<div class="center">
					<nav>
						<ul>
							<li><a href="#">home</a></li>
							<li><a href="#">answer</a></li>
							<li><a href="#">notification</a></li>
							<li><a href="#">profile</a></li>
							<li><a href="#">addquestion</a></li>
							<li><form action="/logout" method="post">
								<input class="submit_button" type="submit" value="logout">
							</form></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<section>
			<aside class="left-pane"><div>asdf</div></aside>
			<aside class="right-pane"><div>asdf</div></aside>
			<article>
				<%= yield %>
			</article>
			
		</section>

	</body>
</html>
</html>